/*## Base ##*/
:root {
    --dark-brown: #391809;
    --brown: #774723;
    --light-brown: #b99268;
    --cream: #fbf5e9;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cream);
    font-family: "Libre Baskerville", serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--dark-brown);
    text-transform: uppercase;
}


@media (min-width: 47em) {}


/*# Links #*/
a {}

a:visited {}

a:hover {}

a:focus,
a:active {}

/*# Elements #*/
ul {}

ol {}

dl {}

figure {}

table {}


/*## Components ##*/
.site-wrapper {
    min-height: 100vh;
    position: relative;
}

/*# Header #*/
header {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-brown);
    padding: 0.5rem 1rem;
    border-image: url('/assets/border-tile.svg') 100% 0 0 0 / 1rem / 1rem repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Header Logo */
.logo-container {
    display: block;
    height: 3rem;
    width: 3rem;
    padding: 0.2rem;
    border: var(--dark-brown) 1px solid;
    border-radius: 10%;
}

.logo-container img {
    height: 100%;
    width: 100%;
}

.logo-container:focus,
.logo-container:active {
    background-color: var(--brown);
    border-color: var(--cream);

}

/* Header Links */
header a {
    text-decoration: none;
    color: var(--cream);
}

header a:visited {}

header a:hover {}

header a:focus,
header a:active {}

/* Mobile Menu Styles */

.menu-toggle {
    background: none;
    border: none;
    padding: 0.5rem;

}

.menu-toggle svg {
    height: 2rem;
    width: 2rem;
}

.nav-menu {
    display: none;
    position: absolute;
    bottom: 4.25rem;
    left: 50%;
    right: 0;
    background-color: var(--brown);
    padding: 1rem;
    z-index: 2;
    text-align: end;
}

.nav-menu li {
    list-style: none;
    padding: 1rem;
    border-bottom: 1px var(--cream) solid;

}


/* TODO: REMOVE IF NOT USING */
.current-nav {
    text-decoration: underline overline var(--cream);
}


/*# Footer #*/
footer {
    background-color: var(--light-brown);
    padding: 5rem 2rem;
    text-align: center;
}